* {
  background-color: #242424;
}

h1 {
  color: #FFF;
}

button {
  width: 200px;
  height: 50px;

  border: none;
  border-radius: 8px;

  cursor: pointer;

  color: #FFF;

  font-weight: bold;

  margin-top: 20px;
  margin-right: 10px;

  padding: 16px;
}

.countClicks {
  color: #000;
  background-color: #00FF00;
}

.countClicks2 {
  color: #000;
  background-color: #FFFF00;
}

.countClicks3 {
  color: #000;
  background-color: #FFA500;
}

.countClicks4 {
  color: #FFF;
  background-color: #FF0000;
}

.somar {
  background-color: #234321;
  color: #FFF;
}

.clear {
  background-color: #F5F5F5;
  color: #000;
}

p {
  font-size: 20px;
  font-weight: bold;
  color: #FFF
}